{% extends 'school/studentbase.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-warning">
      <h4>Submit Assignment - {{ assignment.title }}</h4>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="file">Upload Your File</label>
          {% render_field form.file class="form-control" %}
        </div>
        <button type="submit" class="btn btn-success">Submit Assignment</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
