{% extends 'school/teacherbase.html' %}
{% block content %}
<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-success text-white">
      <h4>Submissions for "{{ assignment.title }}"</h4>
    </div>
    <div class="card-body">
      {% if submissions %}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Student</th>
                <th>Submitted At</th>
                <th>Download</th>
              </tr>
            </thead>
            <tbody>
              {% for s in submissions %}
             <tr>
               <td>{{ s.student.get_name }}</td>
               <td>{{ s.submitted_at }}</td>
               <td>
               {% if s.file %}
              <a href="{{ s.file.url }}" download class="btn btn-sm btn-outline-primary">Download</a>
              {% else %}
              <span class="text-muted">No file</span>
              {% endif %}
              </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>No submissions found yet.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
